<h1>Taxi Ride</h1>

<p>Plot these coordinates on map<p>
<p><%= @taxiride.pickup_longitude %></p>
<p><%= @taxiride.pickup_latitude %></p>
<p><%= @taxiride.dropoff_longitude %></p>
<p><%= @taxiride.dropoff_latitude %></p>
